body{
  background-image: url("https://i.pinimg.com/originals/5d/ca/87/5dca87b6088664ae9fa8080986a58b4c.png");
background-size: cover;
padding: 20px;
overflow: hidden;
}


.container{
  padding-top: 100px;
  height: 600px;
  width: 100%;
  content: justify;
  text-align: center;
  align-content: flex;
  color: white;
}

.h1{
  padding-top: 20%;
}


.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* BUTTONS */
.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.3rem solid #eb5656;
  border-radius: 50%;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #000000;
  background-color: rgb(255, 255, 255);
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}